.box{
   height: 600;
   width: 1320;
   position: relative
}
.box img{
    width: 80%;
    display: block
}
.label1{
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
</style>
    font-family: 'Merriweather', serif;
}
.label1{
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    \color: #FFF;\
}
.label2{
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
  </style>
      font-family: 'Merriweather', serif;
}
.label2{
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    \color: #FFF;\
}